
@{
    ViewData["Title"] = "เกิดข้อผิดพลาด";
    
}

<h1>ErrorView</h1><br />

<h4>ใส่ลำดับเมนูอาหารซ้ำ หรือ ใส่ชื่อเมนูอาหารที่มีอยู่แล้ว ดูลำดับเมนูอาหารได้โดยกดที่ fromProduct (ห้ามใส่ลำดับเมนูซ้ำกัน)</h4>